@font-face {
    font-family: vazir;
    src: url(../fonts/vazir.ttf);
}

body{
    font-family: vazir;
}
/* component */
.text-primary-color{
    color: #00b8d4;
}
.bg-primary-color{
    background-color: #00acc1;
}
.icon-size{
    width: 1rem;
    height: 1rem;
}
.work-day-circle{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.absolute-clock{
    right: 42%;
}
.circle-item{
    font-size: .9rem;
}